@using Arch.Authorization
@using Arch.Web.Areas.App.Models.ErInvoiceDatas
@using Arch.Web.Areas.App.Startup
@model ErInvoiceDatasViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Common.ErInvoiceDatas;
}
@section Scripts
{
<script abp-src="/view-resources/Areas/App/Views/ErInvoiceDatas/Index.js" asp-append-version="true"></script>
<script>
       $('#fileUploadForm').ajaxForm({      
          success: function (response) {
              if (response.success) {
                  //you can get result and use it now.
                  abp.message.success(app.localize("FileSavedSuccessfully", response.result));                  
              } else {
                  abp.message.error(response.error.message);
              }
          }
      });
     </script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title='@L("ErInvoiceDatas")' description='@L("ErInvoiceDatasHeaderInfo")'>
        <button id="ExportToExcelButton" class="btn btn-outline btn-outline-success btn-active-light-success me-1"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>

        @if (IsGranted(AppPermissions.Pages_ErInvoiceDatas_Create))
        {
        <button id="CreateNewErInvoiceDataButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewErInvoiceData")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            
            <div class="card-body">
                <form id="fileUploadForm" enctype="multipart/form-data" method="post" asp-controller="ErInvoiceDatas" asp-action="UploadFile">
                    
                    <div class="form-group">
                        <label for="Image">@L("Excelfile")</label>
                        <input class="form-control" type="file" id="Excelfile" name="excelfile" required>
                    </div>
                    <button type="submit" id="btn-upload" class="btn btn-light-primary font-weight-bold close-button">@L("Upload")</button>
                </form>
            </div>
            
            
            <div class="card-body">
                <div class="form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">

                            <div class="my-3">
                                <div class="input-group">
                                    <input type="text" id="ErInvoiceDatasTableFilter" class="form-control" placeholder='@L("SearchWithThreeDot")' value="@Model.FilterText">
                                    <button id="GetErInvoiceDatasButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">

                    </div>

                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="MinvalidityDateFilterId">@L("validityDateRange")</label>
                            <div class="input-group">
                                <input class="form-control m-input date-picker startDate" type="text" placeholder="@L(" MinValue")" id="MinvalidityDateFilterId">
                                <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                <input class="form-control m-input date-picker endDate" type="text" placeholder="@L(" MaxValue")" id="MaxvalidityDateFilterId">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="amountFilterId">@L("amount")</label>
                            <input type="text" class="form-control" name="amountFilter" id="amountFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="amountdueFilterId">@L("amountdue")</label>
                            <input type="text" class="form-control" name="amountdueFilter" id="amountdueFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="statusFilterId">@L("status")</label>
                            <input type="text" class="form-control" name="statusFilter" id="statusFilterId">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="BillofladingblnoFilterId">(@L("Billoflading")) @L("blno")</label>
                            <input type="text" class="form-control" name="billofladingblnoFilter" id="BillofladingblnoFilterId">
                        </div>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
                <div class="row align-items-center">
                    <table id="ErInvoiceDatasTable" class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
                        <thead>
                            <tr>
                                <th></th>

                                <th>@L("Actions")</th>
                                <th>@L("validityDate")</th>
                                <th>@L("amount")</th>
                                <th>@L("amountdue")</th>
                                <th>@L("status")</th>
                                <th>@L("Billofladingblno")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>