@using Arch.Authorization
@using Arch.Web.Areas.App.Models.Longstandings
@using Arch.Web.Areas.App.Startup
@model LongstandingsViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Common.Longstandings;
}
@section Scripts
{
<script abp-src="/view-resources/Areas/App/Views/Longstandings/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title='@L("Longstandings")' description='@L("LongstandingsHeaderInfo")'>
        <button id="ExportToExcelButton" class="btn btn-outline btn-outline-success btn-active-light-success me-1"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>

        @if (IsGranted(AppPermissions.Pages_Longstandings_Create))
        {
        <button id="CreateNewLongstandingButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewLongstanding")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">

                            <div class="my-3">
                                <div class="input-group">
                                    <input type="text" id="LongstandingsTableFilter" class="form-control" placeholder='@L("SearchWithThreeDot")' value="@Model.FilterText">
                                    <button id="GetLongstandingsButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">

                    </div>

                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="customercodeFilterId">@L("customercode")</label>
                            <input type="text" class="form-control" name="customercodeFilter" id="customercodeFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="blnoFilterId">@L("blno")</label>
                            <input type="text" class="form-control" name="blnoFilter" id="blnoFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="containernoFilterId">@L("containerno")</label>
                            <input type="text" class="form-control" name="containernoFilter" id="containernoFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="containertypeFilterId">@L("containertype")</label>
                            <input type="text" class="form-control" name="containertypeFilter" id="containertypeFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="freetextFilterId">@L("freetext")</label>
                            <input type="text" class="form-control" name="freetextFilter" id="freetextFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="locationFilterId">@L("location")</label>
                            <input type="text" class="form-control" name="locationFilter" id="locationFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="lastmoveFilterId">@L("lastmove")</label>
                            <input type="text" class="form-control" name="lastmoveFilter" id="lastmoveFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="MindaysFilterId">@L("MinMax") @L("days")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L(" MinValue")" name="mindaysFilter" id="MindaysFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L(" MaxValue")" name="maxdaysFilter" id="MaxdaysFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="statusFilterId">@L("status")</label>
                            <input type="text" class="form-control" name="statusFilter" id="statusFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="releasedbyFilterId">@L("releasedby")</label>
                            <input type="text" class="form-control" name="releasedbyFilter" id="releasedbyFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="releasedreasonFilterId">@L("releasedreason")</label>
                            <input type="text" class="form-control" name="releasedreasonFilter" id="releasedreasonFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="releasecommentFilterId">@L("releasecomment")</label>
                            <input type="text" class="form-control" name="releasecommentFilter" id="releasecommentFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="MinvaliditydateFilterId">@L("validitydateRange")</label>
                            <div class="input-group">
                                <input class="form-control m-input date-picker startDate" type="text" placeholder="@L(" MinValue")" id="MinvaliditydateFilterId">
                                <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                <input class="form-control m-input date-picker endDate" type="text" placeholder="@L(" MaxValue")" id="MaxvaliditydateFilterId">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="my-3">
                            <label class="form-label" for="shipoperatorFilterId">@L("shipoperator")</label>
                            <input type="text" class="form-control" name="shipoperatorFilter" id="shipoperatorFilterId">
                        </div>
                    </div>

                </div>
                <div class="row my-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
                <div class="row align-items-center">
                    <table id="LongstandingsTable" class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
                        <thead>
                            <tr>
                                <th></th>

                                <th>@L("Actions")</th>
                                <th>@L("customercode")</th>
                                <th>@L("blno")</th>
                                <th>@L("containerno")</th>
                                <th>@L("containertype")</th>
                                <th>@L("freetext")</th>
                                <th>@L("location")</th>
                                <th>@L("lastmove")</th>
                                <th>@L("days")</th>
                                <th>@L("status")</th>
                                <th>@L("releasedby")</th>
                                <th>@L("releasedreason")</th>
                                <th>@L("releasecomment")</th>
                                <th>@L("validitydate")</th>
                                <th>@L("shipoperator")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>